<!DOCTYPE html>
<html>
<head>
    <title>Prediction Result</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            font-family: Arial;
        }
        th, td {
            padding: 10px;
            border: 1px solid #444;
            text-align: center;
        }
        th {
            background: #333;
            color: white;
        }
    </style>
</head>
<body>

<h2>Prediction Output</h2>
<div>
    {{ table | safe }}
</div>

</body>
</html>
